table {
   
    width: 120%;
}

#popup1 {
    padding-left: 20%;
    padding-right: 10%;
}
#popup2{
    padding-left:20%;
    padding-right: 10%;
}
  
//   .mat-form-field {
//     font-size: 14px;
//     width: 20%;
//   }
//   #space{
//     width: 33.3%;
//     float: right;
//   }

//   #d1{
//       width: 20%;
//   }
 
//  .form-group{
//    margin-left: 10px;
//  }
// #savebtn{
//   margin-left: 30%;
// }

// #f1{
//   width: 20%;
// }